body{
    background-image: url(../img/burned-paper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-size: 700px;
    color: rgba(79, 45, 4, 0.815);
}
header{
    margin-top: 120px;
}
main{
    text-align: center;
}
.btn3x{
    margin-top: 10px;
}

h1{
    font-size: 5em;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin-bottom: 0;
    /* text-decoration: line-through; */
}
p{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin: 0;
}
button{
    background-color: rgba(111, 81, 46, 0.403);
    border-radius: 20px;
    border: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}
.input1{
    font-family: 'Dancing Script', cursive;
    background-color: rgba(111, 81, 46, 0.403);
    border-radius: 20px;
    height: 25px;
    width: 200px;
    font-size: 20px;
}

button:hover{
    background-color: rgb(114, 77, 25);
    border: 1px solid ;
}
#row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 700px 0px 700px;
}

.check{
    padding: 10px;
    border: 2px solid black;
}
#list{
    margin-top: 20px;
}
.barrer{
    text-decoration: line-through;
}

.none {
    display: none !important;
}
.input2{
    width: 100px;
    height: 20px;
    font-family: 'Dancing Script', cursive;
    background-color: rgba(168, 122, 69, 0.403);
    border-radius: 20px;
    font-size: 18px;
}